<div class="row">
    <div class="col">
      <h1 class="display-2">Transactions</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Amount</th>
            <th scope="col">Date of Transaction</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactions"
            (click)="onSelectTransaction(transaction)"
              [class.table-info]="transaction === selectedTransaction" >
            <th scope="row">{{ transaction.id }}</th>
            <td>
              <a [routerLink]="['/transactions', transaction.id]">
                {{ transaction.title }}
              </a>
            </td>
            <td>{{ transaction.change }}</td>
            <td>{{ transaction.creationDate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col" *ngIf="selectedTransaction">
      <transaction-form [transaction]="selectedTransaction"></transaction-form >
    </div>
  </div>