<form (submit)="submit(transactionForm)" #transactionForm="ngForm">
   <div class="form-group">
      <mat-form-field>
        <input name="title"
               [(ngModel)]="model.title"
               matInput
               type="text"
               aria-describedby="titleHelp"
               placeholder="Enter title"
               required>
      </mat-form-field>
    </div>
  
    
    <div class="form-group">
      <!-- <small id="locationHelp" class="form-text text-muted">Give the location of the issue (e.g. labor)</small> -->
      <mat-form-field>
        <input
          name="change"
          [(ngModel)]="model.change"
          matInput type="number"
          aria-describedby="changeHelp"
          placeholder="Enter amount"
          required>
      </mat-form-field>
    </div>

    <div class="form-group">
        <!-- <small id="locationHelp" class="form-text text-muted">Give the location of the issue (e.g. labor)</small> -->
        <mat-form-field>
          <input
            name="creationDate"
            [(ngModel)]="model.creationDate"
            matInput type="string"
            aria-describedby="creationDateHelp"
            placeholder="Enter date"
            required>
        </mat-form-field>
      </div>
    

      <button [disabled]="!transactionForm.valid" type="submit" mat-raised-button color="primary">Save new transaction</button>
  </form>