<body>
<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div *ngIf="message">
    
  </div>

  <mat-form-field >
    <input  matInput placeholder="Username" formControlName="username" required width=10>
    <mat-error *ngIf="username.invalid">Username is required</mat-error>
  </mat-form-field>
  <br>

  <mat-form-field>
    <input matInput placeholder="Password" formControlName="password" required [type]="hidePassword ? 'password' : 'text'">
    <mat-icon mat-icon-button  matSuffix (click)="hidePassword = !hidePassword"></mat-icon>
    <mat-error *ngIf="password.invalid">Password is required</mat-error>
  </mat-form-field>

  <div>
    <button mat-flat-button type="submit" color="primary" [disabled]="form.invalid">Login</button>
  </div>
</form>
</body>