<mat-toolbar color="primary">
  <h1><button mat-button href="/">
    Finance
  </button>
  </h1>
  <span class="fill-remaining-space" fxHide="false" fxHide.gt-sm></span>
  <div *ngIf="!authService.isLoggedIn">
    <button mat-button routerLink="/login">Login</button>
  </div>
  <div *ngIf="authService.isLoggedIn">
    <button mat-button routerLink="/statistics">Statistics</button>
  </div>
  <div *ngIf="authService.isLoggedIn">
    <button mat-button routerLink="/transactions">My transactions</button>
    <span>Hello, {{authService.user.username}}!</span>
    <button mat-button (click)="logout()">Logout</button>
  </div>
</mat-toolbar>
<body>
  <router-outlet></router-outlet>
</body>

