<mat-toolbar color="primary">
  <h1><button mat-button href="/">
    Finance
  </button>
  </h1>
  <span class="fill-remaining-space" fxHide="false" fxHide.gt-sm></span>
  <div *ngIf="!authService.isLoggedIn">
    <button mat-button routerLink="/login">Login</button>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
  <div *ngIf="authService.isLoggedIn">
    <button mat-button routerLink="/transactions">My transactions</button>
    <span>Hello, {{authService.user.username}}!</span>
    <button mat-button (click)="logout()">Logout</button>
  </div>
</mat-toolbar>
<mat-menu xPosition="before" #menu="matMenu">
  <div *ngIf="authService.isLoggedIn">
    <button mat-menu-item routerLink="/transactions">My transactions</button>
    <button mat-menu-item routerLink="/transactions/new">New transactions</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </div>
  <div *ngIf="!authService.isLoggedIn">
    <button mat-button routerLink="/login">Login</button>
  </div>
</mat-menu>

<router-outlet></router-outlet>
